<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @address.type %>
</p>

<p>
  <strong>Street line1:</strong>
  <%= @address.street_line1 %>
</p>

<p>
  <strong>Colony:</strong>
  <%= @address.colony %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Addresable:</strong>
  <%= @address.addresable_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
