<div class="row">
  <div class="col-2">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Consolas
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Nintendo Switch', site_index_path(q: {category_id_eq: 1}) %>
          </li>
        <li class="list-group-item">
          <%= link_to 'Xbox', site_index_path(q: {category_id_eq: 2}) %>
        </li>
        <li class="list-group-item">
          <%= link_to 'PlayStation', site_index_path(q: {category_id_eq: 3}) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-10">

    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% @products.each do |product| %>

        <div class="col">
          <div class="card h-100">
            <% if !product.product_front.nil? %>
              <%= image_tag product.product_front, class: 'card-img-top', size: '266x205'  %>
            <% else %>
              <%= image_tag 'product-image-placeholder.jpg', class: 'card-img-top'  %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <span class="font-monospace">$ <b><%= product.price %> </b> MXN</span>
              <hr>
              <p class="card-text"><%= product.description.truncate(150) %></p>

            </div>
            <div class="card-footer">
              <%= link_to "Ver detalles", product_detail_path(id: product), class: 'btn btn-primary' %>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>

          </div>
        </div>



      <% end %>

    </div>

  </div>


</div>
