<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>

<div class="row">
  <div class="col-2">
    1 of 2
  </div>

  <div class="col-10">

    <div class="row row-cols-6 row-cols-md-4 g-4 ">
      <% @products.each do |product| %>

        <div class="col-md-3 col-xs-6">
          <div class="card" style="width: 18rem;">
            <% if !product.product_front.nil? %>
              <%= image_tag product.product_front, class: 'card-img-top'  %>
            <% else %>
              <%= image_tag 'product-image-placeholder.jpg', class: 'card-img-top'  %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <span class="font-monospace">$ <b><%= product.price %> </b> MXN</span>
              <p class="card-text"><%= product.description.truncate(150) %></p>
              <%= link_to "Ver detalles", product_detail_path(id: product), class: 'btn btn-primary' %>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>



      <% end %>

    </div>

  </div>


</div>
