<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <%= image_tag @product.product_front, id: 'main_product_image', style: 'height:100%;width:auto;'%>
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li>
                <%= image_tag @product.product_front, onclick: 'changeImage(this)', width: '70'  %>
              </li>
              <li>
                <%= image_tag @product.product_back, onclick: 'changeImage(this)', width: '70'  %>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3><%= @product.name %></h3>
<!--            <span class="heart"><i class="far fa-address-book"></i></span>-->
          </div>
          <div class="mt-2 pr-3 content">
            <p>
              <%= @product.description %>
            </p>
          </div>
          <h3>$<%= @product.price %> MXN</h3>
<!--          <div class="ratings d-flex flex-row align-items-center">-->
<!--            <div class="d-flex flex-row"> -->
<!--              <i class='bx bxs-star'></i> -->
<!--              <i class='bx bxs-star'></i> -->
<!--              <i class='bx bxs-star'></i> -->
<!--              <i class='bx bxs-star'></i> -->
<!--              <i class='bx bx-star'></i> </div> -->
<!--            <span>441 reviews</span>-->
<!--          </div>-->

<!--          <div class="buttons d-flex flex-row mt-5 gap-3">-->
<!--            <button class="btn btn-outline-dark">Buy Now</button>-->
<!--            <button class="btn btn-dark">Add to Basket</button>-->
<!--          </div>-->

        </div>
      </div>
    </div>

  </div>
  <hr >
  <%= link_to '<i class="fas fa-arrow-circle-left"></i> Listado de productos'.html_safe, root_path, class: 'btn btn-outline-dark' %>

</div>
<script type="text/javascript" charset="utf-8">
  function changeImage(element) {

    let main_prodcut_image = document.getElementById('main_product_image');
    main_prodcut_image.src = element.src;
  }
</script>