<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :name, class: 'form-control' %>
    <%= form.label :name %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class: 'form-control' %>
    <%= form.label :description %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :stock, class: 'form-control' %>
    <%= form.label :stock %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :price, class: 'form-control' %>
    <%= form.label :price %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :code, class: 'form-control' %>
    <%= form.label :code %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map { |t| [t.name, t.id]}, {}, class: "form-control" %>

  </div>

  <div class="mb-3">
    <%= form.file_field :product_front, class: 'form-control' %>
    <%= form.label :product_front %>
  </div>

  <div class=" mb-3">
    <%= form.file_field :product_back, class: 'form-control' %>
    <%= form.label :product_back %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
