<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field  :name, class: 'form-control' %>
    <%= form.label :name, "Nombre" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :stock, class: 'form-control' %>
    <%= form.label :stock, 'Disponible' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :price_provider, class: 'form-control' %>
    <%= form.label :price_provider, 'Costo del proveedor' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :price, class: 'form-control' %>
    <%= form.label :price, 'Precio Venta' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :code, class: 'form-control' %>
    <%= form.label :code, 'Código' %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map { |t| [t.name, t.id]}, {}, class: "form-control" %>

  </div>

  <div class="mb-3">
    <%= form.file_field :product_front, class: 'form-control', direct_upload: true %>
    <%= form.label :product_front %>
    <% if !@product.product_front.blank? %>
      <%= image_tag product.product_front, size: '80x80' %>
    <% end %>
  </div>

  <div class=" mb-3">
    <%= form.file_field  :product_back, class: 'form-control tinymce', direct_upload: true %>
    <%= form.label :product_back %>
    <% if !@product.product_back.blank? %>
      <%= image_tag product.product_back, size: '80x80' %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.text_area :description, class: 'form-control', rows: 6, cols: 6 %>
    <%= form.label :description, "Descripción" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
